.about {
  display: flex;
  flex-direction: row-reverse;
}

span.border {
  width: 18vw;
  background: #8C8989;
  height: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 26px;
  position: relative;
  margin: 23px auto 0px;
}

span.border:after {
  content: ' ';
  position: absolute;
  background: #00a78e;
  height: 7px;
  display: block;
  width: 73px;
  top: -4px;
}

.about-left-grid h3 {
  font-size: 2.5em;
  color: #FFF;
}

.about-left-grid {
  width: 70%;
  float: right;
  margin-right: 10em;
  min-height: 433px;
}

.about-left-grid h2 {
  color: #191919;
  font-size: 2em;
}

.about-left-grid h2 span {
  font-weight: 700;
}

.about-left-grid p {
  color: #666666;
  font-size: 1em;
  line-height: 2em;
  margin-top: 1.5em;
}

.about-left-grid ul {
  margin: 3em 0 0 0;
  padding: 0;
}

.about-left-grid ul li {
  display: inline-block;
}

.about-left-grid ul li:nth-child(1) {
  margin-right: 0.2em;
}

.about-left {
  padding: 4.5em 0 4.7em 0;
  float: right;
  background: #f4f4f4;
}

.about-left-grid ul li a {
  padding: 0.6em 2em;
  font-size: 1.2em;
  color: #00a78e;
  border: 2px solid #00a78e;
  text-decoration: none;
  border-radius: 1.5em;
}

.about-left-grid ul li a:hover {
  background: #00a78e;
  color: #FFF;
  border-radius: 1.5em;
}

.about-right {
  float: left;
  padding: 0;
  background: url('../../assets/images/img1.jpg') no-repeat 0px 0px;
  min-height: 580px;
  background-size: cover;
}

@media(max-width:1366px) {
  .about-left-grid {
    width: 70%;
    float: right;
    margin-right: 5em;
    min-height: 433px;
  }

}

@media(max-width:1280px) {
  .about-left {
    padding: 5.5em 0 3.5em 0;
  }

  .about-left-grid p {
    font-size: 0.9em;
    line-height: 2em;
    margin-top: 0.5em;
  }
}

@media(max-width:1024px) {
  .about-left {
    padding: 4em 0 3.5em 0;
  }

  .about-left-grid {
    width: 70%;
    float: right;
    margin-right: 5em;
    min-height: 459px;
  }

}

@media(max-width:991px) {
  .about-right {
    float: none;
    min-height: 517px;
  }

  .about-left {
    padding: 3em 0 3em 0;
    float: none;
    background: #f4f4f4;
  }

  .about-left-grid {
    width: 80%;
    float: none;
    margin-right: 0;
    min-height: 306px;
    margin-left: 7em;
  }

  .about-left-grid ul li a {
    padding: 0.6em 2em;
    font-size: 1em;
  }
}

@media(max-width:800px) {
  .thumb:hover ul li {
    margin: 113px 0px 0;
  }

  .about-left-grid {
    width: 80%;
    float: none;
    margin-right: 0;
    min-height: 367px;
    margin-left: 7em;
  }
}

@media(max-width:768px) {
  .about-right {
    float: none;
    min-height: 424px;
  }

  .about-left-grid {
    width: 80%;
    float: none;
    margin-right: 0;
    min-height: 367px;
    margin-left: 7em;
  }
}

@media(max-width:640px) {
  .about-left-grid {
    width: 80%;
    float: none;
    margin-right: 0;
    min-height: 390px;
    margin-left: 7em;
  }

  .about-inner img {
    width: 100%;
  }
}

@media(max-width:600px) {
  .about-left-grid {
    width: 80%;
    float: none;
    margin-right: 0;
    min-height: 418px;
    margin-left: 7em;
  }
}

@media(max-width:480px) {
  .about-right {
    float: none;
    min-height: 334px;
  }

  .about-left-grid ul {
    margin: 1.5em 0 0 0;
    padding: 0;
  }

  .about-left-grid {
    width: 93%;
    float: none;
    margin-right: 0;
    min-height: 390px;
    margin-left: 2em;
  }

  .about-left-grid ul li a {
    padding: 0.6em 2em;
    font-size: 0.9em;
  }
}

@media(max-width:414px) {
  .about-right {
    float: none;
    min-height: 255px;
  }

  .about-left {
    padding: 1em 0 1em 0;
  }

  .about-left-grid {
    width: 93%;
    float: none;
    margin-right: 0;
    min-height: 454px;
    margin-left: 2em;
  }

  .about-right {
    float: none;
    min-height: 234px;
  }

  .about-left-grid h2 {
    font-size: 1.5em;
  }
}

@media(max-width:384px) {
  .about-left-grid {
    width: 97%;
    float: none;
    margin-right: 0;
    min-height: 454px;
    margin-left: 1em;
  }
}

@media(max-width:375px) {
  .about-left-grid {
    width: 97%;
    float: none;
    margin-right: 0;
    min-height: 473px;
    margin-left: 1em;
  }

  .about-left-grid ul li a {
    padding: 0.4em 1em;
    font-size: 0.9em;
  }
}

@media(max-width:320px) {
  .about-left-grid {
    width: 94%;
    float: none;
    margin-right: 0;
    min-height: 544px;
    margin-left: 1em;
  }
}